/* основной цвет текста #757575; */
/* цвет заголовков #212121; */
/* основной цвет фона #FFFFFF; */
/* вторичный цвет фона #2F303A; */
/* акцент #2196F3;*/
/* черный #000000; */

:root {
  --card-set-gap: 30px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  --main-text-color: #757575;
  --title-text-color: #212121;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --accent-color: #2196f3;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-header {
  border-bottom: 1px solid #ececec;
}
.header {
  display: flex;
  align-items: center;
}

/* Логотипы */

.logo-top .logo {
  color: var(--title-text-color);
}

.logo-top,
.logo-footer {
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer .logo {
  color: #ffffff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

/* Навигация страницы */

.nav {
  display: flex;
  margin-left: 93px;
}

.nav .item:not(:last-child) {
  margin-right: 50px;
}

.nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}

.nav .link.current {
  color: var(--accent-color);
}

/* Контакты */

.contacts-top {
  display: flex;
  margin-left: auto;
}

.contacts-top .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-top .link {
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-top .link:hover,
.contacts-top .link:focus {
  color: var(--accent-color);
}

/* Шапка страницы */

.baner {
  background-color: var(--secondary-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.baner .title {
  color: #ffffff;
  font-weight: 900;
  max-width: 696px;
  font-style: normal;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px;
}

.baner .button {
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
}

/* Особенности */

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.features-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.features .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features .text {
  line-height: 1.71;
}

/* Работы и команда */
.works .title,
.team .title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.works {
  padding-top: 0;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.works-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.team-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.team-card-content {
  text-align: center;
  padding-top: var(--card-set-gap);
  padding-bottom: var(--card-set-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-profecion {
  margin-top: 10px;
}

/* Подвал */

.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts .map {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  margin-top: 20px;
}

.contacts .map:hover,
.contacts .map:focus {
  color: var(--accent-color);
}

.contacts .link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  margin-top: 9px;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Портфолио */

/* Проекты */

.filter-set {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters:not(:last-child) {
  margin-right: 8px;
}

.projects .button {
  background: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  letter-spacing: 0.03em;

  min-height: 38px;
  padding: 6px 22px;
  border-width: 0;
  border-radius: 4px;
}

.projects .button:hover,
.projects .button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-set > .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.card {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.card-content {
  padding: 20px 24px;
}
.projects .title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects .text {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.87;
}
