/* основной цвет текста #757575; */
/* цвет заголовков #212121; */
/* основной цвет фона #FFFFFF; */
/* вторичный цвет фона #2F303A; */
/* для ссылок #AFB1B8 */
/* акцент #2196F3;*/
/* черный #000000; */

:root {
  --card-set-gap: 30px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  --main-text-color: #757575;
  --title-text-color: #212121;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --accent-color: #2196f3;
  --for-link: #afb1b8;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-header {
  border-bottom: 1px solid #ececec;
}
.header {
  display: flex;
  align-items: center;
}

/* Логотипы */

.logo-top .logo {
  color: var(--title-text-color);
}

.logo-top,
.logo-footer {
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer .logo {
  color: #ffffff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

/* Навигация страницы */

.nav {
  display: flex;
  margin-left: 93px;
}

.nav .item:not(:last-child) {
  margin-right: 50px;
}

.nav .link {
  display: block;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.envelope,
.smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}

.nav .link.current {
  color: var(--accent-color);
}

.nav .item.current::after {
  content: "";
  display: block;
  position: relative;
  top: 1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* Контакты */

.contacts-top {
  display: flex;
  margin-left: auto;
}

.contacts-top .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-top .link {
  display: inline-flex;
  align-items: center;
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-top .link:hover,
.contacts-top .link:focus {
  color: var(--accent-color);
}

/* Шапка страницы */

.baner {
  background-color: var(--secondary-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.baner .title {
  color: #ffffff;
  font-weight: 900;
  max-width: 696px;
  font-style: normal;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px;
}

.baner .button {
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
}

/* Особенности */

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.features-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);

  /* display: block; */
}

.features-item-tumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features .text {
  line-height: 1.71;
}

/* Работы и команда */
.works .title,
.team .title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.works {
  padding-top: 0;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.works-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.works-thumb {
  position: relative;
}

.works-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  color: var(--main-bg-color);
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.team-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.team-card-content {
  text-align: center;
  padding-top: var(--card-set-gap);
  padding-bottom: var(--card-set-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-profecion {
  margin-bottom: 16px;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-color);
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: var(--main-bg-color);
}

.social-icons {
  display: inline-flex;
}

.social-icons-svg {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

/* Постоянные клиенты */
.clients .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  color: var(--title-text-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 6 * var(--card-set-gap)) / 6);
  height: 90px;
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 170px;
  height: 90px;
  fill: var(--for-link);
  border: 1px solid var(--for-link);
  border-radius: 4px;
}

.clients-link:focus,
.clients-link:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Подвал */

.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts .map {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  margin-top: 20px;
}

.contacts .map:hover,
.contacts .map:focus {
  color: var(--accent-color);
}

.contacts .link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  margin-top: 9px;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/* folow */

.blocks {
  display: flex;
  align-items: baseline;
}

.folow {
  margin-left: 70px;
}

.folow .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--main-bg-color);
}

/* footer links */

.social-icons-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--main-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icons-link-footer:hover,
.social-icons-link-footer:focus {
  background-color: var(--accent-color);
}

.social-icons-link-footer:hover .social-icons-svg,
.social-icons-link-footer:focus .social-icons-svg {
  fill: var(--main-bg-color);
}

.social-icons {
  display: inline-flex;
}

.social-icons-svg-footer {
  fill: var(--main-bg-color);
  width: 20px;
  height: 20px;
}

/* Портфолио */

/* Проекты */

.filter-set {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters:not(:last-child) {
  margin-right: 8px;
}

.projects .button {
  background: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  letter-spacing: 0.03em;

  min-height: 38px;
  padding: 6px 22px;
  border-width: 0;
  border-radius: 4px;
}

.projects .button:hover,
.projects .button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-set > .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.card-link {
  text-decoration: none;
  color: currentColor;
}

.card-link:hover .card,
.card-link:focus .card {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.card-content {
  padding: 20px 24px;
}
.projects .title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects .text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  display: flex;

  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms ease;

  background-color: rgb(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: var(--main-bg-color);
}

.card-link:hover .card-overlay,
.card-link:focus .card-overlay {
  transform: translatey(0);
}
