/* основной цвет текста #757575; */
/* цвет заголовков #212121; */
/* основной цвет фона #FFFFFF; */
/* вторичный цвет фона #2F303A; */
/* для ссылок #AFB1B8 */
/* акцент #2196F3;*/
/* черный #000000; */

:root {
  --card-set-gap: 30px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  --main-text-color: #757575;
  --title-text-color: #212121;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --accent-color: #2196f3;
  --for-link: #afb1b8;
  --time-gif: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  padding-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-header {
  position: fixed;
  min-height: 80px;
  width: 100%;
  min-height: 80px;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--main-bg-color);

  border-bottom: 1px solid #ececec;
}
.header {
  display: flex;
  align-items: center;
}

/* Логотипы */

.logo-top .logo {
  color: var(--title-text-color);
}

.logo-top,
.logo-footer {
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer .logo {
  color: var(--main-bg-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

/* Навигация страницы */

.nav {
  display: flex;
  margin-left: 93px;
}

.nav .item:not(:last-child) {
  margin-right: 50px;
}

.nav .link {
  display: block;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--time-gif) var(--cubic);
}

.envelope,
.smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}

.nav .link.current {
  position: relative;
  color: var(--accent-color);
}

.nav .link.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* Контакты */

.contacts-top {
  display: flex;
  margin-left: auto;
}

.contacts-top .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-top .link {
  display: inline-flex;
  align-items: center;
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--time-gif) var(--cubic);
}

.contacts-top .link:hover,
.contacts-top .link:focus {
  color: var(--accent-color);
}

/* Шапка страницы */

.baner {
  background-color: var(--secondary-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.baner .title {
  color: var(--main-bg-color);
  font-weight: 900;
  max-width: 696px;
  font-style: normal;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px;
}

.baner .button {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
}

/* Особенности */

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.features-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.features-item-tumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features .text {
  line-height: 1.71;
}

/* Работы и команда */
.works .title,
.team .title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.works {
  padding-top: 0;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.works-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.works-thumb {
  position: relative;
}

.works-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  color: var(--main-bg-color);
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.team-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.team-card-content {
  text-align: center;
  padding-top: var(--card-set-gap);
  padding-bottom: var(--card-set-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-profecion {
  margin-bottom: 16px;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--time-gif) var(--cubic),
    fill var(--time-gif) var(--cubic);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-color);
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: var(--main-bg-color);
}

.social-icons {
  display: inline-flex;
}

.social-icons-svg {
  fill: var(--for-link);
  width: 20px;
  height: 20px;
}

/* Постоянные клиенты */
.clients .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  color: var(--title-text-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 6 * var(--card-set-gap)) / 6);
  height: 90px;
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 170px;
  height: 90px;
  fill: var(--for-link);
  border: 1px solid var(--for-link);
  border-radius: 4px;
  transition: fill var(--time-gif) var(--cubic),
    border-color var(--time-gif) var(--cubic);
}

.clients-link:focus,
.clients-link:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Подвал */

.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts .map {
  display: block;
  color: var(--main-bg-color);
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  margin-top: 20px;
  transition: color var(--time-gif) var(--cubic);
}

.contacts .map:hover,
.contacts .map:focus {
  color: var(--accent-color);
}

.contacts .link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  margin-top: 9px;
  transition: color var(--time-gif) var(--cubic);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/* folow */

.blocks {
  display: flex;
  align-items: baseline;
}

.folow {
  margin-left: 70px;
}

.folow .title,
.subscribe .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--main-bg-color);
}

/* footer links */

.social-icons-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--main-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--time-gif) var(--cubic);
}

.social-icons-link-footer:hover,
.social-icons-link-footer:focus {
  background-color: var(--accent-color);
}

.social-icons-link-footer:hover .social-icons-svg,
.social-icons-link-footer:focus .social-icons-svg {
  fill: var(--main-bg-color);
}

.social-icons {
  display: inline-flex;
}

.social-icons-svg-footer {
  fill: var(--main-bg-color);
  width: 20px;
  height: 20px;
}

/* Подписка на телеграм в футере */

.subscribe {
  margin-left: auto;
}
.subscribe-form {
  display: flex;
}
.subscribe-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background-color: var(--bg-color);
}
.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-button {
  position: relative;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 62px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  border: 0px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
  position: absolute;
  right: 28px;
  top: 13px;
  bottom: 13px;
  fill: var(--main-bg-color);
}

/* Портфолио */

/* Проекты */

.filter-set {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters:not(:last-child) {
  margin-right: 8px;
}

.projects .button {
  background: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  letter-spacing: 0.03em;

  min-height: 38px;
  padding: 6px 22px;
  border-width: 0;
  border-radius: 4px;
  transition: background-color var(--time-gif) var(--cubic),
    color var(--time-gif) var(--cubic), box-shadow var(--time-gif) var(--cubic);
}

.projects .button:hover,
.projects .button:focus {
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-set > .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.card-link {
  text-decoration: none;
  color: currentColor;
  transition: box-shadow var(--time-gif) var(--cubic);
}

.card-link:hover .card,
.card-link:focus .card {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card {
  background: var(--main-bg-color);
  box-sizing: border-box;
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.projects .title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects .text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  display: flex;

  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform var(--time-gif) var(--cubic);

  background-color: rgb(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: var(--main-bg-color);
}

.card-link:hover .card-overlay,
.card-link:focus .card-overlay {
  transform: translatey(0);
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 1;
  transition: opacity var(--time-gif) var(--cubic);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  transition: transform var(--time-gif) var(--cubic),
    scale var(--time-gif) var(--cubic);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--time-gif) var(--cubic);
}

.button-close:focus .icon-close,
.button-close:hover .icon-close {
  fill: var(--accent-color);
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--title-text-color);
}

.form-item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-item:not(:last-child) {
  margin-bottom: 10px;
}

.form-item-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.form-input {
  height: 40px;
  padding-left: 42px;
  padding-right: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--time-gif) var(--cubic);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--title-text-color);
  pointer-events: none;
  transition: fill var(--time-gif) var(--cubic);
}

.form-input:hover ~ .form-icon,
.form-input:focus ~ .form-icon {
  fill: var(--accent-color);
}

.form-input-comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--time-gif) var(--cubic);
}

.form-input-comment:hover,
.form-input-comment:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-input-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.check-label {
  display: flex;
  margin-bottom: 30px;
  cursor: pointer;
}

.check-icon-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: border-color var(--time-gif) var(--cubic),
    background-color var(--time-gif) var(--cubic);
}

.check-input:checked + .check-icon-thumb {
  background-color: var(--accent-color);
  border: 0px solid transparent;
}

.policy {
  padding-left: 7px;
}

.policy-link {
  color: var(--accent-color);
}

.submit-btn {
  display: block;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px;
  margin: 0 auto;
  color: var(--main-bg-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--time-gif) var(--cubic);
}

.submit-btn:focus,
.submit-btn:hover {
  background: #188ce8;
}
