.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  min-height: 581px;

  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--time-gif) var(--cubic),
    visibility var(--time-gif) var(--cubic);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.7);
  }
  @media screen and (min-width: 450px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--main-bg-color);

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__icon-close {
  fill: #000000;

  transition: fill var(--time-gif) var(--cubic);

  .modal__button-close:focus &,
  .modal__button-close:hover & {
    fill: var(--accent-color);
  }
}

.modal__container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal__title {
  margin-bottom: 12px;
  line-height: 1.5;

  font-weight: 700;
  font-size: 20px;

  text-align: center;

  color: var(--title-text-color);

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}
