.address {
  margin-top: 20px;
}

.address__map {
  display: block;
  line-height: 1.71;

  text-decoration: none;
  font-style: normal;

  color: var(--main-bg-color);

  transition: color var(--time-gif) var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.address__link {
  display: block;

  text-decoration: none;
  font-style: normal;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);

  transition: color var(--time-gif) var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
