.subscribe {
  margin-left: auto;
}

.subscribe__form {
  display: flex;
}

.subscribe__title {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  color: var(--main-bg-color);
}

.subscribe__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  outline: none;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  color: rgba(255, 255, 255, 0.6);
  background-color: var(--bg-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe__button {
  position: relative;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 62px;
  min-width: 200px;
  font-weight: 700;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;

  border: 0px solid transparent;
  border-radius: 4px;

  color: var(--main-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-btn-color);
  }
}

.subscribe__icon {
  position: absolute;
  right: 28px;
  top: 13px;
  bottom: 13px;

  fill: var(--main-bg-color);
}
