.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 50px;
  text-align: center;

  font-size: 36px;
  line-height: 1.17;

  color: var(--title-text-color);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.team__item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.team-card__content {
  text-align: center;
  padding-top: var(--card-set-gap);
  padding-bottom: var(--card-set-gap);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
}

.team-card__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--title-text-color);
}

.team-card__profecion {
  margin-bottom: 16px;
}
