body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  padding-top: 80px;

  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
